.splashContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  > div {
    max-width: 550px;
    height: 500px;
    padding: 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  p {
    margin: 1rem 0;
    font-size: 1rem;
  }
}

.startBtn {
  margin-top: 1rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  width: 10rem;

  background: #f0f0f0;
  color: #111111;
  border: 1px solid #a1a1a1;

  font-size: 1rem;
  cursor: pointer;

  &:hover {
    filter: brightness(80%);
  }
}

.credits {
  margin-top: 1rem;

  a {
    color: #111111;
  }
}

.todoList {
  margin-top: 1rem;

  ul {
    margin-left: 1.5rem;
  }
}
