.questionContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.question {
  width: 800px;
  max-width: 95%;

  padding: 0.5rem;
}

.codeContainer pre {
  padding: 0.5rem !important;
  border-radius: 0.5rem;
}

.choices {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.btnChoice {
  margin: 0.2rem 0;
  font-size: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
  border: 0.5px solid #2d2d2d;
}
