.questionContainer {
  margin-top: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.question {
  width: 900px;
  max-width: 95%;

  padding: 0.5rem;

  h1 {
    margin-bottom: 1rem;
  }
}

.codeContainer pre {
  padding: 0.5rem !important;
  border-radius: 0.5rem;
}

.choices {
  display: flex;
  flex-direction: column;
  width: 100%;

  gap: 0.8rem;
}

.btnChoice {
  padding: 0.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;

  background: #f0f0f0;
  color: #111111;

  font-size: 1rem;
  cursor: pointer;
  border: 1px solid #a1a1a1;

  &:hover {
    filter: brightness(80%);
  }
}
